.dayNumber {
  font-size: 5rem;
  font-weight: bold;
  color: #d98f82;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #1b434c;
  text-align: center;
}

.description {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

@media (max-width: 768px) {
  .dayNumber {
    font-size: 3.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }
}
