.floatingLink {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -5rem;
  left: 3rem;
  background-color: #bcccd2;
  color: #1b4a4c;
  border-radius: 50%;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  z-index: 9999;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: 10rem;
  width: 10rem;
  font-size: 1.2rem;
  overflow: hidden;
}

.floatingLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/rukavice.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
  border-radius: 50%;
}

.floatingLink:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .floatingLink {
    height: 7rem;
    width: 7rem;
    font-size: 1rem;
    left: 1.5rem;
    bottom: -4rem;
  }
}

@media (max-width: 480px) {
  .floatingLink {
    height: 6rem;
    width: 6rem;
    font-size: 0.9rem;
    left: 1rem;
    bottom: -3rem;
    padding: 0.5rem;
  }
}
